@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script>
        function LoginClick() {
            var id = document.getElementById("field_id").value;
            var password = document.getElementById("field_pass").value;
            $.get("/Account/AdminLogin?identitycard="+id+"&password="+password, function (data) {
                if (data == "True") {
                    alert("Login Successful"); //will redirect to home page
                }
                else {
                    alert("something");
                }
            })
        }
        function ToRegister() {
            window.location.href = "/Account/RegisterPage";
        }
    </script>

    <meta name="viewport" content="width=device-width" />
    <title></title>
    
</head>
<body>
    <div>
        Enter ID: <br />
        <input id="field_id" type="text" /><br />
        Enter Password:<br />
        <input id="field_pass" type="password" /><br />
        <button id="btnLog" onclick="LoginClick()">Login</button>
        <p style="font-size:smaller">Don't have an account? Consider registering</p>
        <button id="btnToRegister" onclick="ToRegister()">Register</button>
    </div>
</body>
</html>
