@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title></title>
    
</head>
<body>
    <div>
        
        <input id="feild_id" type="text" />
        <input id="feild_pass" type="password" />
        <button onclick="LoginClick()">Login</button>
    </div>
</body>
</html>
