@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Fill all feilds acordingly:<br />
        <input id="Admin_id" type="text" />
        <input id="Admin_name" type="text" />
        <input id="Admin_password" type="password" />
    </div>
</body>
</html>
